.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  width: 100%;
  grid-gap: 15px;
}

@media only screen and (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(1, 500px);
  }
}
