.search-bar {
  width: max-content;
  min-height: 50px;
  border: 2px solid black;
  padding: 10px;
  margin: 0 auto;
}

.search-bar__input {
  font-size: larger;
  padding: 10px;
}

.search-bar__button {
  background-color: rgb(149, 149, 229);
  padding: 5px;
margin-left: 5px;
}