:root{
  --dark-blue: #2C3639;
  --lighter-blue: #3F4E4F;
  --coffee: #A27B5C;
  --vanilla: #DCD7C9;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-blue);
  color: var(--vanilla);
}
a {
  height: fit-content;
}
h2{
  margin-bottom: 0;
}
h4{
  margin: 0;
  font-weight: 400;
}
#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  height: 100%;
  position: fixed!important;
  width: 100%;
  z-index: -1;
}